.header-main {
  display: flex;
  align-items: center;
  min-height: 80px;

  background-color: #C4C4C4;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__link {
  display: flex;
}