button {
  font-family: inherit;
  outline: none;
  cursor: pointer;
}

img {
  width: 100%;
}

.main {
  min-height: calc(100vh - 80px - 60px);
  margin-top: 32px;
}

.relative {
  position: relative;
}

.underline {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}