/* colors */
$c-1: #C10000;
$c-2: #8B8B8B;
$c-3: #C8C8C8;

/* container */
$containerPadding: 15px;
$containerPaddingDesktop: 20px;

$containerWidthSm: 600px;
$containerWidthMd: 980px;
$containerWidthLg: 1200px;
$containerWidthXl: 1440px;

/* layout */
$headerChangeWidth: 992px;
$sm: 576px;
$md: 768px;
$lg: 991px;
$xl: 1280px;